---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import SidebarR from "@components/SidebarR.astro";
import Footer from "@components/Footer.astro";
import ReadMore from "@components/ReadMore.astro";
import Card from "@components/Card";
import getUniqueTags from "@utils/getUniqueTags";
import getPostsByTag from "@utils/getPostsByTag";
import getPostsByYear from "@utils/getPostsByYear";
import slugify from "@utils/slugify";
import { SITE } from "@config";
import getSortedPosts from "@utils/getSortedPosts";
import getSortedItems from "@utils/getSortedItems";

export interface Props {
  post: CollectionEntry<"posts">;
  year: string;
}

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  var years = posts
    .map(({ data }) => (data.pubDatetime.getFullYear().toString()));
  years = years.filter(( year , index) => years.indexOf(year) === index);

  return years.map(year => {
    return {
      params: { year },
      props: { year },
    };
  });
}

const { year } = Astro.props;

const posts = await getCollection("posts", ({ data }) => !data.draft);

const sortPost = getSortedPosts(posts);

//const yearPosts = getPostsByYear(sortPost, year);

const items = await Astro.glob('./../../content/posts/*.md');

const sortedContent = getSortedItems(items);
---

<Layout title={`year:${year} | ${SITE.title}`}>
  <Header activeNav="posts" />
  <main id="main-content">
    
  <!--SidebarR activeNav="posts" showTagsArchive={true}/-->
  <Main
    pageTitle={[`year:`, `${year}`]}
    titleTransition={year}
    sidebar={true}
  >
    <h1 slot="title" transition:name={year}>{`year:${year}`}</h1>
    <ul>
      {
        sortedContent
            .filter(({ frontmatter }) => new Date (frontmatter.pubDatetime).getFullYear() === parseInt(year))
            .map(({ frontmatter, Content }) => (
            frontmatter.microblog || frontmatter.image ? (
                <Card 
                    href={`/posts/${slugify(frontmatter)}`}
                    frontmatter={frontmatter}
                    secHeading={false}
                />
                <div class={`${frontmatter.microblog? ("microblog") : ("image")} prose`}>
                    <Content/></div>
                ) : (
                <Card 
                    href={`/posts/${slugify(frontmatter)}`}
                    frontmatter={frontmatter}
                    secHeading={false}
                />
                <div class="prose postSnippet">
                <Content/></div>
                <ReadMore href={`/posts/${slugify(frontmatter)}`} />
            )))
      }
    </ul>
  </Main>
  </main>
</Layout>
