---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import SidebarR from "@components/SidebarR.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import getUniqueTags from "@utils/getUniqueTags";
import getPostsByTag from "@utils/getPostsByTag";
import slugify from "@utils/slugify";
import { SITE } from "@config";
import getSortedPosts from "@utils/getSortedPosts";

export interface Props {
  post: CollectionEntry<"posts">;
  tag: string;
}

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  const tags = getUniqueTags(posts);

  return tags.map(tag => {
    return {
      params: { tag },
      props: { tag },
    };
  });
}

const { tag } = Astro.props;

const posts = await getCollection("posts", ({ data }) => !data.draft);

const tagPosts = getPostsByTag(posts, tag);

const sortTagsPost = getSortedPosts(tagPosts);
---

<Layout title={`tag:${tag} | ${SITE.title}`}>
  <Header activeNav="posts" />
  <main id="main-content">
  <Main
    pageTitle={[`tag:`, `${tag}`]}
    titleTransition={tag}
    pageDesc={`All the articles with the tag "${tag}".`}
    sidebar={true}
  >
    <h1 slot="title" transition:name={tag}>{`tag:${tag}`}</h1>
    <ul>
      {
        sortTagsPost.map(({ data }) => (
          <Card href={`/posts/${slugify(data)}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
  </main>
  <SidebarR />
</Layout>
