---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import SidebarR from "@components/SidebarR.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import ReadMore from "@components/ReadMore.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import Datetime from "@components/Datetime";
import Block from "@components/Block.astro";
import getSortedPosts from "@utils/getSortedPosts";
import getSortedItems from "@utils/getSortedItems";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

//import pic from "@assets/images/2024-03-01_how-did-u.png";
import pic from "@assets/images/2024-03-07_dj.png";
import demitri from "@assets/images/demitri.png";
import apeDemitri from "@assets/images/ape-sticker.png";

const posts = await getCollection("posts");
const items = await Astro.glob('./../content/posts/*.md');

const sortedContent = getSortedItems(items);

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedContent.filter(({ frontmatter }) => frontmatter.featured);
const microPosts = sortedContent.filter(({ frontmatter }) => frontmatter.microblog);

const socialCount = SOCIALS.filter(social => social.active).length;

const now = await Astro.glob('./../content/now/*.md');
const latestnow = getSortedItems(now);
//console.log(latestnow);
---

<Layout>
    <Header activeNav="/" />
    <main id="main-content">
        <Main pageTitle="Welcome to blogelogeluren! 😸" sidebar={false}>
          <div class="prose">
            <p class="mb-0"><br>So what can you expect from my site? We're not sticking to the rules here
                <img class="inline !m-0 h-5 w-5" src="/assets/pfp2.png">, nor any one category. Everything here is on
                my terms –・̼̟͋̉̑̉͜ﾟ̽͠✧so watch your step!
                <i class="inline-block work-keep break-none">୧(^ヮ^)つ</i>
            </p>
           <!--p>A good place to start exploring would be the featured notes down below or the 
            <a href="/now">/now</a> page.</p-->

            <div class="flex flex-col sm:flex-row gap-5">
                <Block bg="accent" border="fill" nomargin>
                    <Fragment slot="title">
                        <span class="text-gray-900">🐱‍💻 The gist</span>
                    </Fragment>
                    <p class="m-0 pt-5">
                        Blogelogeluren is a quick and dirty way for 
                        the conceptual being <a title="aka 5ht2agonist aka Goldlock aka Demitri" class="cursor-help" href="/about">@tur(pelur)²en</a>
                        to get hirs mind out into the world. 🌐 Sometimes I post qute drawings, sometimes 
                        esoteric ramblings and sometimes tech-projects.
                        <br><br>
                        🎍 All weary wanderers, tired tinkerers, patched up pirates, fed up freedom fighters & doomed dreamers are welcome!
                    </p>
                </Block>

                <Block nomargin rot="-1">
                    <a href="/posts/drawing-2024-03-07"><img class="!m-0 object-cover h-full w-full" {...pic}></a>
                </Block>
            </div>

            { featuredPosts && (
                <Block bg="" border="internal">
                    <Fragment slot="title">
                        <span class="text-skin-base">📝 Featured <a class="!font-semibold" href="/notes">/notes</a></span>
                    </Fragment>
                    <ul class="not-prose text-skin-base">
                        {featuredPosts.map(({ frontmatter, Content }) => (
                        <Card
                            href={`/posts/${slugify(frontmatter)}`}
                            frontmatter={frontmatter}
                            secHeading={false}
                        />
                        <p class="pl-4">{frontmatter.description}</p>
                        <!--div class="postSnippet"><Content/></div--><!-- Post snippet -->
                        <!--ReadMore href={`/posts/${slugify(frontmatter)}`} /-->
                        ))}
                    </ul>
                </Block>
            )}

            { microPosts && (
                <Block fade bg="internal" nomargin>
                    <Fragment slot="title">
                        <span class="text-skin-inverted">L8est <span class="/*can change color*/" >microblogs</span> <span class="text-sm font-normal">(╯°□°)╯︵ ɹǝʇʇᴉʍX</span></span>
                    </Fragment>
                    <ul class="not-prose text-skin-base p-5 pt-0 max-h-64 overflow-y-scroll">
                        {microPosts.map(({ frontmatter, Content }) => (
                        <Card
                            href={`/posts/${slugify(frontmatter)}`}
                            frontmatter={frontmatter}
                            secHeading={false}
                        />
                        <div class="microblog prose"><Content/></div>
                        ))}
                    <img class="inline mt-12 mb-8 h-64 w-64 -rotate-6" {...apeDemitri}>
                    <img class="inline float-right mt-64 w-32 h-32" src="/assets/pfp2.png">
                    </ul>
                </Block>
            )}

            <div class="flex flex-col sm:flex-row gap-5 justify-between">
                <Block bg="link" border="link" nomargin>
                    <Fragment slot="title">
                        <span class="text-skin-inverted">👾 <a class="!text-skin-inverted" href="/posts/third-place">3rd place hangout</a></span>
                    </Fragment>
                    <iframe src="https://www5.cbox.ws/box/?boxid=948822&boxtag=vvqRoz" width="100%" height="256" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
                </Block>
                <img class="not-prose shrink w-64 pt-2 origin-top-left rotate-6 object-cover self-end " alt="classic demitri sticker" loading="lazy" {...demitri}>
            </div>

            <h2 class="font-semibold">Site colors</h2>
            <ul>
                <li>
                    <span style="color: rgb(var(--color-internal));">Internal links</span>,
                    meaning you don't leave this site when you click them, are 
                    <span style="color: rgb(var(--color-internal));">naive green</span>.
                </li>
                <li>
                    <span style="color: rgb(var(--color-internal-visited));">Visited internal links</span>
                    become, with time, just as yourself, a sligthly more
                    <span style="color: rgb(var(--color-internal-visited));">mature green</span>.
                </li>
                <li>
                    <span style="color: rgb(var(--color-link));">External links</span> are this
                    <span style="color: rgb(var(--color-link));">blue color</span>
                    which you might recognize from a little place called the Interweb.
                </li>
                <li>
                    <span style="color: rgb(var(--color-link-visited));">Visited external links</span>
                    symbolize your gained knowledge with a 
                    <span style="color: rgb(var(--color-link-visited));">magicians purple</span>.
                </li>
                <li>
                    <span style="color: rgb(var(--color-accent));">Buttons and *flare*</span> appear
                    <span style="color: rgb(var(--color-accent));">orange</span>. Just as I like it.
                </li>
                <li>
                    <span style="color: rgb(var(--color-fill));">The background</span> is
                    <span id="theme-name" style="color: rgb(var(--color-fill));">
                        <span id="day-symbol">light</span>
                        <span id="night-symbol">dark</span>
                    </span> as you can see. Change the theme under the profile picture, or in the menu on mobile. 
                    You can also switch between a monospace and sans-serif font.
                </li>
            </ul>
            <div class="sm:hidden">Best viewed on desktop..</div>
          </div>
        </Main>
    <!--section id="hero">
        <h3 class="opacity-70">/</h3>
        <h2>index</h2>
    </section-->

    <!--section id="hero">
      <h1 class="mr-2">Welcome </h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>Welcome to blogelogeluren! I am still working on the site while putting some of my thoughts out:-)</p>
      <p class="inline">
        My main site is <p class="prose inline"><a href="https://turpelurpeluren.online">turpelurpeluren.online</p></a>
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://turpelurpeluren.online"
        >
        </LinkButton>
      </p>
      <{
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section-->
	<!--
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <Hr />
            <ul>
              {sortedContent.map(({ frontmatter, Content }) => (
                <Card
                  href={`/posts/${slugify(frontmatter)}`}
                  frontmatter={frontmatter}
                  secHeading={false}
                />
                <div class="postSnippet">
                <Content/></div>
              ))}
            </ul>
          </section>
        </>
      )
    }

{
	projectPosts.length > 0 && (
	  <>
		<section id="projects">
		  <h2>projects</h2>
          <Hr />
		  <ul>
			{sortedContent
                .filter(({ frontmatter }) => frontmatter.project)
                .map(({ frontmatter, Content }) => (
			  <Card
				href={`/posts/${slugify(frontmatter)}`}
				frontmatter={frontmatter}
				secHeading={false}
			  />
              <div class="prose postSnippet">
              <Content/></div>
              <ReadMore href={`/posts/${slugify(frontmatter)}`} />
			))}
		  </ul>
		</section>
	  </>
	)
  }

    <section id="recent-posts">
	  <h2>latest thougths</h2>
      <Hr />
      <ul>
		{
		sortedContent
            .filter(({ frontmatter }) => !frontmatter.featured)
            .filter(({ frontmatter }) => !frontmatter.project)
            .map(
              ({ frontmatter, Content }, index) =>
                index < 4 && ((frontmatter.microblog || frontmatter.image) ? (
                  <Card
                    href={`/posts/${slugify(frontmatter)}`}
                    frontmatter={frontmatter}
                    secHeading={false}
                  />
				  <div class={`${frontmatter.microblog? ("microblog") : ("image")} prose`}>
                  <Content/></div>
                ) : (
				  <Card
                    href={`/posts/${slugify(frontmatter)}`}
                    frontmatter={frontmatter}
                    secHeading={false}
                  />
                  <div class="prose postSnippet">
                  <Content/></div>
                  <ReadMore href={`/posts/${slugify(frontmatter)}`} />
				)
            ))
		}
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/archive">
          All Posts &gt
        </LinkButton>
      </div>
    </section>

	<section id="links">
		<h2>links</h2>
        <Hr />
		to other sites I like
		<ul>
			<Card
				href={`https://neocities.org/browse`}
				frontmatter={{title: "Neocities"}}/>
			<Card
				href={`https://searchmysite.net/`}
				frontmatter={{title: "searchmysite.net"}}/>
			<Card
				href={`https://blog.erlend.sh/reclaiming-my-digital-identity`}
				frontmatter={{title: "Erlend"}}/>
			<Card
				href={`https://www.henrikkarlsson.xyz/p/first-we-shape-our-social-graph-then`}
				frontmatter={{title: "Escaping Flatland"}}/>
		</ul>
	</section>

	<section id="chat">
		<h2>chat</h2>
        <Hr />
		<iframe src="https://www5.cbox.ws/box/?boxid=948822&boxtag=vvqRoz" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>	
	</section-->

  </main>
  <!--SidebarR activeNav="/"/-->
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-3 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
 /* #featured,
  #recent-posts,
  #projects,
  #links,
  #chat {
    @apply pb-3 pt-4;
  }
  #now {
    @apply pb-16 pt-4;
  }
  #hero h2,
  #featured h2,
  #recent-posts h2,
  #projects h2,
  #links h2,
  #chat h2 {
    @apply text-xl font-semibold tracking-wide pb-1;
  }
  #now h2 {
    @apply inline-block text-3xl font-semibold tracking-wide mb-8;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }*/
</style>
